.code pre,
.code div {
  height: 100%;
  /*
  these terrible !important declarations
  are to override inline styles in the code highlighter
  they are scoped to this css module, at least
  */
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  white-space: pre-wrap !important;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 16px 0;
  padding: 4px 4px 8px;
  border: 1px solid #2d3748;
  background-color: #2d3748;
  border-radius: 4px;
}

.magic .wrapper {
  margin-top: 0;
}

.label {
  width: max-content;
  padding: 6px;
  margin: 0 4px 4px 4px;
  text-transform: uppercase;
  color: rgb(238, 238, 239);
  font-weight: bold;
}

.magic {
  background-color: #2d3748;
  color: rgb(238, 238, 239);
  border-radius: 4px;
  padding-top: 6px;
}

.hint {
  margin: 0px 10px 16px 10px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 0;
}

.inputs input {
  padding: 0.25em;
  font-size: 16px;
  border-radius: 4px;
  border-width: 4px;
  border-style: solid;
  border-color: #90caf9;
  width: 80%;
}

.inputs label {
  display: inline-block;
  width: 60px;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
