/* shared between demo components */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 16px 0;
  padding: 4px 4px 8px;
  border: 1px solid #2d3748;
  background-color: #2d3748;
  border-radius: 4px;
}

.label {
  width: max-content;
  padding: 6px;
  margin: 0 4px 4px 4px;
  text-transform: uppercase;
  color: rgb(238, 238, 239);
  font-weight: bold;
}

.tab {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  margin: 2px;
  min-width: 380px;
}

.code {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  min-height: 230px;
}

.code pre,
.code div {
  flex: 1 1 100%;
  display: flex;
  max-height: 230px;
  /*
  these !important declarations
  override inline styles in the code highlighter
  they are scoped to this css module, at least
  */
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  white-space: pre-wrap !important;
}

.code code {
  word-break: break-all !important;
}

/* language labels */
div:global(.language-js),
div:global(.language-html),
div:global(.language-css) {
  position: relative;
}

div:global(.language-css)::before,
div:global(.language-html)::before,
div:global(.language-js)::before {
  position: absolute;
  top: -20px;
  right: 22px;
  padding: 4px;
  border-radius: 4px;
  background-color: #90caf9;
  border: 1px solid #2d3748;
  color: #2d3748;
}

div:global(.language-js)::before {
  content: 'JavaScript';
}

div:global(.language-html)::before {
  content: 'HTML';
}

div:global(.language-css)::before {
  content: 'CSS';
}

.output {
  height: 230px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 0.3em;
}

/* specific to magic-demo */
.magic {
  background-color: #2d3748;
  color: rgb(238, 238, 239);
  border-radius: 4px;
  padding-top: 6px;
}

.magic .wrapper {
  margin-top: 0;
}

.hint {
  margin: 0px 10px 16px 10px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 0;
}

.inputs input {
  padding: 0.25em;
  font-size: 16px;
  border-radius: 4px;
  border-width: 4px;
  border-style: solid;
  border-color: #90caf9;
  width: 80%;
}

.inputs label {
  display: inline-block;
  min-width: 60px;
  margin-right: 1rem;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

/* specific to js-demo */
.result {
  display: grid;
  row-gap: 4px;
  grid-template:
    'label button .' 32px
    'output output output' auto / 25% 50% 25%;
}

.result button {
  grid-area: button;
  margin: 0px auto;
}

.result label {
  grid-area: label;
}

.result .content {
  grid-area: output;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2d3748;
  row-gap: 24px;
}

.result .frame {
  width: 100%;
  flex: 1 1 100%;
  max-height: 230px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #2d3748;
  border-radius: 0.3em;
}

.result .console {
  padding: 8px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  overflow-y: scroll;
}

.result .console .error {
  color: #f0897d;
}

.hide {
  display: none;
}
